@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-weight: 900;
    src: url("../fonts/Inter-Black.ttf") format("truetype");
}

@import url('https://rsms.me/inter/inter.css');

body { 
    font-family: 'Inter', sans-serif; 
}

@supports (font-variation-settings: normal) {
    
    body { 
        font-family: 'Inter var', sans-serif; 
    }
}