@import "base/main";

.advance {
    margin: 80px 0 30px;
    color: $color-3;
    
    @include mq("tablet-wide") {
        margin-top: 130px;
    }

    .container {
        flex-direction: column;

        .advance-presentation {
            margin-bottom: 80px;
            text-align: center;
            
            @include mq("tablet-wide") {
                margin-bottom: 120px;
            }

            h2 {
                margin-bottom: 18px;
                @include font-source-sans($ff: $font-3, $colour: $color-6);

                @include mq("tablet-wide") {
                    font-size: 46px;
                }
            }
    
            h3 {
                @include font-source-sans($ff: $font-1, $colour: $color-3, $lh: 24px);

                @include mq("tablet-wide") {
                    font-size: 20px;
                }
            }
        }
        

        .advance-calc {
            justify-content: space-around;

            & > div {
                margin-bottom: 80px;
                
                @include mq("tablet-wide") {
                    margin-bottom: 100px;
                }
            }

            .advance-calculator {
                 -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.16);
                    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.16);
                         box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.16);
                border-radius: 8px;

                @include mq("tablet-wide") {
                    width: 488px;
                }

                .presentation {
                    padding: 21px 0 30px;
                    border-bottom: 1px solid $color-9;
                    
                    h3 {
                        font: 24px "Inter SemiBold";
                        text-align: center;
                    }
                }

                .scale {
                    padding: 26px 26px 30px;
                    border-bottom: 1px solid $color-9;

                    .calc-amount {
                        padding-bottom: 30px;

                        .value::before {
                            @include pseudo(inline, relative, 'R$ ');
                        }
                    }

                    .calc-title {
                        @include font-source-sans($ff: $font-1, $size: 22px, $lh: 26px);
                    }

                    .calc-container {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 15px;
                    }
                    
                    .amount, .installments {
                        font: 22px "Inter SemiBold";
                    }

                    .calc-installments {

                        .value::after {
                            @include pseudo(inline, relative, 'x');
                        }
                    }
                }

                .slide-container {
                    width: 100%;

                    .slider {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 7px;
                        border-radius: 5px;  
                        background: #d3d3d3;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                    }
                      
                    .slider::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%; 
                        background: $white;
                        border: 7px solid $color-5;
                        cursor: pointer;
                    }
                      
                    .slider::-moz-range-thumb {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: $white;
                        border: 7px solid $color-5;
                        cursor: pointer;
                    }
                }

                .calculator {
                    padding: 26px;
                    display: flex;
                    justify-content: space-between;
                    
                    .total-installment, .rate {
                        display: flex;
                        flex-direction: column;
                    }

                    .total-installment {

                        span:last-child {
                            @include font-source-sans($ff: $font-3, $size: 21px, $lh: 25px);
                        }
                    }

                    .rate {
                        text-align: right;

                        span:last-child {
                            @include font-source-sans($ff: $font-3, $size: 19px, $lh: 23px);
                        }
                    }

                    .result-title {
                        font-size: 23px;
                        line-height: 28px;
                    }
                }

                .request-proposal {
                
                    button {
                        width: 100%;
                        padding: 26px 0;
                        @include font-source-sans($ff: $font-3, $size: 24px, $colour: $white);
                        
                        background-color: $color-4;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

            .advance-benefits {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .benefit {
                    display: flex;
                    align-items: center;    
                    margin-bottom: 50px;

                    figure {
                        display: flex;
                    }

                    .info {
                        margin-left: 28px;

                        h4 {
                            font-family: $font-3;
                            margin-bottom: 10px;
                            
                            @include mq("tablet-wide") {
                                @include font-source-sans($size: 25px, $lh: 30px);
                            }
                        }

                        h5 {
                            font-family: $font-1;

                            @include mq("tablet-wide") {
                                @include font-source-sans($size: 17px, $lh: 22px);
                            }
                        }
                    }
                }
            }
        }
    }
    
}