@import "base/main";

.advance {
    margin-top: 130px;
    color: $color-3;

    .container {
        flex-direction: column;

        .advance-presentation {
            margin-bottom: 119px;
            text-align: center;

            h2 {
                margin-bottom: 18px;
                font: 46px "Inter SemiBold";
                color: $color-6;
            }
    
            h3 {
                font: 20px "Inter Regular";
                line-height: 24px;
                color: $color-3;
            }
        }
        

        .advance-calc {
            justify-content: space-around;

            & > div {
                margin-bottom: 100px;
            }

            .advance-calculator {
                 -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.16);
                    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.16);
                         box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.16);
                border-radius: 8px;

                @media(min-width: 1024px) {
                    width: 488px;
                }

                .presentation {
                    padding: 21px 0 30px;
                    border-bottom: 1px solid $color-9;
                    
                    h3 {
                        font: 24px "Inter SemiBold";
                        text-align: center;
                    }
                }

                .scale {
                    padding: 26px 26px 30px;
                    border-bottom: 1px solid $color-9;

                    .calc-amount {
                        padding-bottom: 30px;

                        .value::before {
                            content: "R$ ";
                        }
                    }

                    .calc-title {
                        font: 22px "Inter Regular";
                        line-height: 26px;
                    }

                    .calc-container {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 15px;
                    }
                    
                    .amount, .installments {
                        font: 22px "Inter SemiBold";
                    }

                    .calc-installments {

                        .value::after {
                            content: "x";
                        }
                    }
                }

                .slide-container {
                    width: 100%;

                    .slider {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 7px;
                        border-radius: 5px;  
                        background: #d3d3d3;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                    }
                      
                    .slider::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%; 
                        background: $white;
                        border: 7px solid $color-5;
                        cursor: pointer;
                    }
                      
                    .slider::-moz-range-thumb {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: $white;
                        border: 7px solid $color-5;
                        cursor: pointer;
                    }
                }

                .calculator {
                    padding: 26px;
                    display: flex;
                    justify-content: space-between;
                    
                    .total-installment, .rate {
                        display: flex;
                        flex-direction: column;
                    }

                    .total-installment {

                        span:last-child {
                            font: 21px $font-3;
                            line-height: 25px;
                        }
                    }

                    .rate {
                        text-align: right;

                        span:last-child {
                            font: 19px $font-3;
                            line-height: 23px;
                        }
                    }

                    .result-title {
                        font-size: 23px;
                        line-height: 28px;
                    }
                }

                .request-proposal {
                
                    button {
                        width: 100%;
                        padding: 26px 0;
                        font: 24px "Inter SemiBold";
                        color: $white;
                        background-color: $color-4;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

            .advance-benefits {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .benefit {
                    display: flex;
                    align-items: center;

                    figure {
                        display: flex;
                    }

                    .info {
                        margin-left: 28px;

                        h4 {
                            margin-bottom: 10px;
                            font: 25px "Inter SemiBold";
                            line-height: 30px;
                        }

                        h5 {
                            font: 17px "Inter Regular";
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
    
}