.benefits {

    .content {
        margin: -70px auto 0;
        padding: 30px 70px;
        width: 1170px;
        display: flex;
        justify-content: space-around;
        border-radius: 9px;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
           -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
                box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
        background-color: $white;
        z-index: 9;
    }

    &-item {
        text-align: center;
    }

    h4 {
        margin-top: 20px;
        font-family: $font-2;
        font-size: 17px;
        line-height: 20px;
        color: $color-3;
    }
}