@import "base/mixins";

.benefits {
    
    &__container {
        padding: 50px 68px;
        background-color: $white;
        z-index: z("benefits-content");
        @include flex-container($jc: space-between);
        
        @include mq("tablet-wide") {
            margin: -70px auto 0;
            width: 1170px;
            border-radius: 9px;
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
               -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
                    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
        }
    }

    &__item {
        text-align: center;
        
        @include mq("phone-wide", max) {
            padding: 30px 0;
        }
        
        h4 {
            margin-top: 20px;
            @include font-source-sans($ff: $font-2, $size: 17px, $colour: $color-3, $lh: 20px);
        }
    }
}