@import 'base/_vars';

.footer {
    padding: 50px 0;
    
    @media(min-width: 1024px) {
        padding: 100px 0;
    }

    .container {

        justify-content: space-around;

        .about {
            width: 350px;
            line-height: 2;
            color: $color-3;

            img {
                margin-bottom: 30px;
            }
        }
    
        .title {
            padding: 0 0 20px;
            display: block;
            font-family: $font-4;
            font-size: 19px;
            line-height: 23px;
            text-transform: uppercase;
            color: $color-4;
        }
    
        .links {
            padding-bottom: 20px;    
            
            @media (min-width: 1024px) {
                padding-left: 20px;
            } 
    
            ul {
    
                li {
                
                    margin-bottom: 20px;
        
                    a {
                        color: $color-3;
                    }
                }
            }

            .social {

                i {
                    padding-right: 20px;
                    color: $color-4;
                }
            }
        }
    }

}