@import 'base/_vars';

.footer {
    padding: 50px 0;
    
    @include mq("tablet-wide") {
        padding: 100px 0 130px;
    }

    .container {

        padding-bottom: 90px;
        justify-content: space-between;
        border-bottom: 1px solid rgba(73, 73, 73, $alpha: 0.4);

        & > div {
            margin-bottom: 40px;
        }

        .about {
            line-height: 2;
            color: $color-3;
            
            @include mq("tablet-wide") {
                width: 350px;
            }

            img {
                margin-bottom: 30px;
            }
        }
    
        .title {
            padding: 0 0 20px;
            display: block;
            text-transform: uppercase;
            @include font-source-sans($ff: $font-4, $size: 19px, $colour: $color-4, $lh: 23px);
        }
    
        .links {
            padding-bottom: 20px;    
            
            @media (min-width: 1024px) {
                padding-left: 20px;
            } 
    
            ul {
    
                li {
                
                    margin-bottom: 20px;
        
                    a {
                        color: $color-3;
                    }
                }
            }

            .social {

                i {
                    padding-right: 20px;
                    color: $color-4;
                }
            }
        }
    }

}