.fullscreen {
    background-image: url('/images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    padding: 22px 0 31px;
    color: $white;

    .container {    
        
        .composition {
            display: flex;
            justify-content: center;    
            align-items: center;
            padding: 50px 0 0;
            
            &-infos {
                display: flex;
                flex-direction: column;
                flex: 1;
                
                @include mq("tablet-wide") {
                    width: 615px;
                }
    
                h2 {
                    font-family: $font-4;
                    font-size: 40px;
                    
                    @include mq("tablet-wide") {
                        @include font-source-sans($ff: $font-4, $size: 70px, $lh: 85px);
                    }

                    .plus {
                        color: $color-5;
                    }
                }

                p {    
                    margin: 20px 0;
                    @include font-source-sans($ff: $font-1, $size: 22px);
                    
                    @include mq("tablet-wide") {
                        line-height: 1.5;
                    }
                }
    
                .btn {    
                    margin: 20px 0 0;
                    
                    .apple, .google {
                        width: 250px;
                        height: 60px;
                        @include btn($color-0, transparent, 5px);

                        figure {
                            display: flex;
                            justify-content: center;
                        }
                    }

                    .apple {
                        padding-top: 2px;
                    }

                    .google {

                        @include mq("tablet-wide") {
                            margin-left: 20px;
                        }
                    }
                }

                .social-media {

                    margin: 32px 0 0;

                    i {
                        margin-right: 25px;
                    }
                }
            }
    
            &-image {
                flex: 1;
                // margin-right: -200px;

                @media(max-width: 768px) {
                    display: none;
                }
            }
        }

    }
}