.site-hero {
    background-image: url('/sofisa/images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    padding: 100px 0 31px;
    color: $white;
    
    @include mq("tablet-wide") {
        height: 790px;;
    }
    
    &__content {
        width: 100%;
        padding: 50px 0 0;
        @include flex-container($jc: space-between, $ai: center);
        
        &-infos {
            
            @include mq("tablet-wide") {    
                margin-bottom: 50px;
                width: 615px;
            }

            h2 {
                font-family: $font-4;
                font-size: 36px;
                
                @include mq("tablet-wide") {
                    @include font-source-sans($size: 70px, $lh: 85px);
                }

                .plus {
                    color: $color-5;
                }
            }

            p {    
                margin: 20px 0;
                max-width: 450px;
                @include font-source-sans($size: 20px, $lh: 30px);

                @include mq("tablet-wide") {
                    @include font-source-sans($size: 22px, $lh: 33px);
                }
            }

            .social-media {
                margin: 32px 0 0;

                i {
                    margin-right: 25px;
                }
            }
        }

        &-btn {
            margin: 20px 0 0;
            @include flex-container($fw: wrap, $jc: flex-start);

            .apple, .google {
                width: 250px;
                height: 60px;
                @include btn($color-0, transparent, 5px);

                figure {
                    @include flex-container($jc: center);
                }
            }

            .apple {
                padding-top: 2px;
                margin-bottom: 10px;

                @include mq("phone-wide") {
                    margin-right: 30px;
                }
            }
        }

        &-image {

            @include mq("tablet", "max") {
                display: none;
            }
        }
    }
}