.get-started {
    
    @include mq("tablet-wide") {
        margin-top: 142px;
    }

    &__content {
        background-image: url("/sofisa/images/investidor.png");
        background-repeat: no-repeat;
        background-position-x: left;
        height: 660px;

        @include flex-container($jc: flex-end, $ai: center);
    }

    &__infos {
        padding: 40px 20px;
        position: absolute;
        background-color: $color-0;
        color: $color-4;

        @include mq("tablet-wide") {
            padding: 80px 50px;
            width: 1085px;
            float: right;
            border-radius: 9px;
            box-shadow: 0 4px 8px 0 rgba(234, 234, 234, 0.7), 0 6px 20px 0 rgba(218, 214, 214, 0.5);
        }

        &-title {
            @include font-source-sans($ff: $font-3, $size: 25px);                
        }

        &-text {
            color: $color-3;
            margin: 50px 0;
        }

        &-apply {

            a {
                @include btn($color-0, $color-4, 5px);
                padding: 16px 0;
                width: 275px;
                height: 62px;
                text-align: center;
                @include font-source-sans($ff: $font-2, $size: 20px, $weight: 700, $lh: 28px);     
                
                @include mq("tablet-wide") {
                    font-size: 23px;
                }
            }
        }
    }
}