.slick {

    &-slide {

        img {
            margin: auto;
        }
    }

    &-arrow {
        position: absolute;
        top: 40%;
        width: 25px;
        height: 25px;
        transition: .5s;
        float: left;
        box-shadow: -2px 2px 0 rgba(0, 0, 0, .3);
    }

    &-dots {
        margin: 20px 0 0;
        text-align: center;    
        line-height: 1;

        li {
            display: inline-block;
            margin: 0 10px;
        }

        button {
            font-size: 0;
            border-radius: 50%;
            border: none;
            height: 15px;
            width: 15px;
            background-color: $color-4;
        }
    }

    &-active {

        button {
            background-color: $color-3;
        }
    }

    &-prev {
        left: 15px;
        transform: rotate(45deg);
    }

    &-next {
        right: 15px;
        transform: rotate(225deg);
    }
}