@import "base/_main";

.header {

    color: #fff;
    background-color: transparent;

    .container {
        display: flex;
        justify-content: space-between;    
        align-items: center;
    }

    .main-menu, .user-menu {
        display: flex;

        li  {
            padding: 0 20px;
        }
    }

    .user-menu {

        .sign-in {    
            padding: 10px 20px;
        }

        .sign-up {
            @include btn($color-0, transparent, 5px);
            text-transform: uppercase;
        }
    }
}