.steps {
    padding: 80px 0;
    background: linear-gradient(90deg, rgba(81,184,144,1) 0%, rgba(101,214,183,1) 100%);
    color: $white;

    @include mq("tablet-wide") {
        padding: 110px 0 167px;
    }

    &__content {
        @include flex-container($fw: wrap, $jc: space-between);
        @include mq("tablet", max) {
            justify-content: center;
        }
    }

    &__infos {

        &-text {
            margin-bottom: 23px;
            color: $white;

            h2 {
                margin-bottom: 26px;
                
                @include mq("tablet-wide") {
                    @include font-source-sans($ff: $font-3, $size: 32px, $lh: 39px);
                }
            }
    
            h3 {
                font-size: 17px;
                line-height: 24px;
            }
        }
    }

    &__path {
        @include flex-container($fw: wrap, $jc: space-between);
        
        @include mq("phone-wide", "max") {
            @include flex-container($fd: column, $jc: center);
            width: 40%;
            margin: auto;
        }

        span {
            display: block;
            text-align: center;
        }

        &-item {
            margin-bottom: 30px;
        }

        &-number {
            padding: 33px 42px;
            margin-bottom: 23px;
            height: 116px;
            width: 116px;
            border: 2px solid $white;
            border-radius: 50%;
            @include font-source-sans($ff: $font-4, $size: 35px, $lh: 42px);
        }
    }
}