@font-face {
    font-family: "Inter Regular";
    src: url("/sofisa/fonts/Inter-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter Bold";
    src: url("/sofisa/fonts/Inter-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("/sofisa/fonts/Inter-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter Medium";
    src: url("/sofisa/fonts/Inter-Medium.ttf");
    font-display: swap;
}