@import "mixins";

.wrapper {
    // width: 1800px;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1290px;
    margin: auto;
    // padding: 0 30px;
    width: calc(100% - 30px);
    margin-left: 15px;

    @include mq("tablet-wide") {
        width: calc(100% - 40px);
        margin: auto;    
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include mq("tablet-wide") {
        flex-direction: row;
    }
}