@import "mixins";

.wrapper {
    // width: 1800px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    width: 100%;
    max-width: 1290px;
    margin: auto;
    // padding: 0 30px;
    width: calc(100% - 20px);
    margin-left: 10px;

    @include mq("tablet-wide") {
        width: calc(100% - 40px);
        margin: auto;    
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    @include mq("tablet-wide") {
        flex-direction: row;
    }
}