@mixin btn($color, $bg, $br) {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: $br;
    padding: 10px 20px;
    color: $color;
    background-color: $bg;
}

// Font styles
@mixin font-source-sans($ff: false, $size: false, $colour: false, $weight: false,  $lh: false) {
    @if $ff { font-family: $ff; }
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

// Pseudo
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}